*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box
}
.texto-portflow {
    display: flex;
    width: 50%;
    height: 50%;
    margin-top: 3rem;
    margin-left: 10rem;
    font-size: 40px;
}
.navegacao {
    display: flex;
    justify-content: space-around;
    width: 62%;
    height: 50%;
    margin-top: -1.5rem;
    padding-left: 30rem;
    font-size: 15px;
    color: darkgrey;
}
li:hover {
    color: black;
    cursor: pointer;
}

/* Responsividade*/
@media (max-width: 1440px) {
    .navegacao {
        margin-left: 20rem;
    }
}
@media (max-width: 1024px) {
    .navegacao {
        padding-left: 10rem;
    }
}
@media (max-width: 768px) {
    .navegacao {
        margin-left: 15rem;
    }
}
@media (max-width: 425px) {
    .navegacao {
        flex-direction: column;
        margin-top: 1rem;
        margin-left: 3rem;
    }
}
@media (max-width: 375px) {
    .texto-portflow {
    margin-top: 1rem;
    margin-left: 7rem;
    }
    .navegacao {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-left: -1rem;   
    }
}